body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 

header {
    padding: 24px 15%;
    color: white;
    text-shadow: 0px 0px 1px #222222;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1605210014512-0b56f31359ce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
}

header > h1 {
    font-style: normal;
    font-size: 39px;
    line-height: 24px;
}

header > h3 {
    font-style: normal;
    font-size: 22.4216px;
    line-height: 14px;
}

#root{
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
}

.item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    padding: 20px 0px;
}

.emoji {
    font-size: 64px;
    margin: 0px 10px 0px 0px;
}

.item-name {
    margin-bottom: 0px;
    font-style: normal;
    font-size: 28px;
    line-height: 17px;
}

.item-description {
    font-family: 'Smythe';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0px;
    color: #8B8B8B;
}

.item-price {
    margin: 0px;
}


.item-text {
    margin-right: auto;
}

.add-btn {
    font-size: 32px;
    color: #3C3C3C;
    background-color: white;
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    padding: 10px 15px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

.add-btn:hover {
    box-shadow: 0px 0px 2px #222222;
}

#cart {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
}

#total {
    border-top: 2px solid #393333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#cart > h2 {
    display: inline;
    margin:10px auto 10px 0px;
    font-size: 2rem;
}

#total-price {
    margin-left: auto;
    font-size: 2rem;
}

.cart-item{
    display: flex;
    align-items: center;
}

.remove-from-cart {
    color: #8B8B8B;
    background: none;
    border: none;
    cursor: pointer;
}

.remove-from-cart:hover {
    color: red;
}

.item-total{
    margin-left: auto;
}

#complete-order, #pay {
    background: #16DB99;
    color: white;
    font-family: sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 1rem 0px;
    margin-top: 1rem;
}

#complete-order:hover, #pay:hover {
    box-shadow: 0px 0px 5px black;
}

#pay {
    width: 80%;
}

#modal {
    text-align: center;
    width: 80%;
    max-width: 500px;
    margin: 10px auto;
    padding: 10px 10px 30px 10px;
    background: #FFFFFF;
    border-radius: 3.88991px;
    box-shadow: 0px 0px 200px black;
    height: fit-content;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
}

input {
    display: block;
    width: 80%;
    margin: 0px auto 10px auto;
}

#confirmation {
    text-align: center;
    background: #ECFDF5;
    border-radius: 3px;
    font-weight: 400;
    font-size: 32px;
    line-height: 17px;
    color: #065F46;
    padding: 20px;
    display: block;
    margin: 0px auto;
    width: 80%;
    max-width: 500px;;
}

.hidden {
    display: none;
}